@import url(./global.css);

  /* =========== Header ============ */
  
  .header {
    min-height: 10vh;
  }
  
  .header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  /* =========== Navigation ============ */
  
  .navigation {
    position: relative;
    padding: 8px 0;
    z-index: 100;
  }
  
  .fix__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .nav__center .nav__hamburger {
    display: none;
    cursor: pointer;
  }
  
  .nav__menu .menu__top {
    display: none;
  }
  
  .nav__center {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
  
  .nav__header .nav__logo h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
  }
  
  .fix__nav .nav__logo h1 {
    color: var(--dark-color);
  }
  
  .nav__header .nav__logo h1 span {
    color: var(--default-color);
  }
  
  .nav__icons svg {
    width: 25px;
    height: 25px;
  }
  
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__menu .nav__list {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  
  .nav__list .nav__item:not(:last-child) {
    margin-right: 8px;
  }
  
  .nav__item .nav__link:link,
  .nav__item .nav__link:visited {
    display: inline-block;
    padding: 8px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
  }
  
  .fix__nav .nav__item .nav__link:link,
  .fix__nav .nav__item .nav__link:visited {
    color: var(--dark-color);
  }
  
  .nav__item .nav__link:hover {
    color: var(--default-color);
  }
  
  .fix__nav .nav__item .nav__link:hover {
    color: var(--default-color);
  }
  
  .nav__menu .nav__item:last-child .nav__link {
    background-color: var(--default-color);
    padding: 8px 20px;
    border-radius: 30px;
    border: 1px solid var(--default-color);
    transition: all 300ms ease-in-out;
  }
  
  .nav__menu .nav__item:last-child .nav__link:hover {
    background-color: transparent;
    color: var(--grey-color);
  }
  
  .fix__nav .nav__menu .nav__item:last-child .nav__link:hover {
    color: var(--default-color);
  }
  
  .nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav__icons .icon__item {
    color: var(--grey-color);
    padding: 10px 10px;
  }
  
  .nav__icons .icon__item svg {
    fill: var(--grey-color);
  }
  
  .fix__nav .nav__icons .icon__item svg {
    fill: var(--dark-color);
  }
  
  .nav__icons .icon__item:last-child {
    position: relative;
    background-color: var(--grey-color-alt);
    margin-left: 5px;
    padding: 7px 10px;
    border-radius: 50px;
  }
  
  .nav__icons .icon__item:last-child span {
    position: absolute;
    background-color: var(--default-color);
    display: inline-block;
    top: -6px;
    right: -10px;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: 800;
  }


  /* Just Test */
  .hero{
    background-image: url(./images/Banner1.jpg);
    min-width: 100vw;
    min-height: 70vh;
  }


  


  